@charset "UTF-8";

.top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}
.inner{
    max-width: 1920px;
}
.wrap_inner{
    display: flex;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
.logo a{
    display: inline-block;
    background-image: url(../img/index/gnb_logo_b.svg);
    width: 269px;
    height: 60px;
    background-size: 269px 20px;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
}
.gnb{
    width: 30%;
}
.category{
    display: flex;
}
.smenu{
    position: absolute;
    top: 60px;
    display: none;
}
.category>ul:first-of-type{
    display: flex;
}