@charset "UTF-8";

@import url(./reset.css);
@import url(./common.css);
@import url(./core.css);

.page{
    width: 100%;
    height: 100vh;
}
.cover{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}
.slide{
    position: relative;
    display: flex;
    width: 300%;
    height: 100%;
}
.slide_page{
    position: relative;
    flex: 1;
}
.slide video{
    width: 100%;
}
.slide img{
    width: 100%;
}