@charset "UTF-8";

.top{
    background-color: #fff !important;
}
.logo a{
    background-image: url(../img/index/gnb_logo_b.svg) !important;
}
.category h2 a{
    color: #000 !important;
}
.cont{
    max-width: 1400px;
    margin: 0 auto;
}
.tit_warp{
    margin-top: 100px;
    padding-top: 30px;
    text-align: center;
}
.open_cart{
    color: #000 !important;
}
.cat{
    font-size: 10px;
}
.tit{
    height: 60px;
    font-size: 24px;
    line-height: 60px;
}
.search_wrap{
    position: sticky;
    top: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 17px;
    padding: 10px 0;
    background-color: #eeeeee88;
    z-index: 10;
}
.left_filter{
    margin-left: 40px;
}
.right_fliter_opt{
    margin-right: 40px;
}
.cat_tit{
    padding: 40px 10px;
    font-size: 30px;
    font-weight: normal;
}
.list{
    padding-bottom: 30px;
}
.list ul{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 40px;
    grid-column-gap: 20px;
    width: 100%;
}
.list li{
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: url(../img/index/Link-Select.png), auto;
}
.behind_img{
    position: absolute;
    opacity: 0;
}
.brand{
    font-family: 'Founders', 'Noto Sans KR', sans-serif;
    margin-top: 20px;
    font-size: 12px;
    color: #aaa;
}
.price{
    font-family: 'Founders', 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
.new{
    font-family: 'Founders', 'Noto Sans KR', sans-serif;
    font-size: 15px;
    color: #ccc;
}
.total h4{
    text-align: center;
}
.result_wrap{
    padding: 20px 0;
}
.more_item{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 60px;
    line-height: 60px;
    border: 2px solid #000;
    box-sizing: border-box;
    text-align: center;
}
.whole_item{
    display: block;
    text-align: center;
    padding-top: 10px;
}
.product_wrap{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;  
    right: 0;
    background-color: #000000cc;
    z-index: 9999;
    overflow: auto;
}
.product_detail{
    position: relative;
    top: 0;
    margin-left: 22%;
    background-color: #fff;
    width: 78%;
}
.product_detail .inner{
    display: flex;
    max-width: 1600px;
    gap: 30px;
}
.product_img_wrap{
    position: relative;
}
.product_img_wrap ul{
    /* display: grid;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-columns: 50% 50%; */
    width: calc(100% - 12px);
}
.product_img_wrap li{
    width: 100%;
    height: 100vh;
    margin-bottom: 5px;
}
.product_img_wrap img{
    height: 100%;
    width: auto;
}
.product_info_wrap{
    position: relative;
    width: 30%;
}
.close_btn{
    display: inline-block;
    position: fixed;
    top: 20px;
    left: 20px;
    color: #fff;
}
.close_btn i{
    width: 40px;
    height: 40px;
    font-size: 50px;
    line-height: 40px;
}
.product_info_wrap .logo{
    text-indent: -9999px;
    background: url(../img/index/gnb_logo_b.svg) no-repeat center;
}
.product_info{
    position: sticky;
    top: 7%;
}
.product_info li{
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    font-size: 24px;
}
.product_info .logo{
    width: 100%;
}
.pro{
    width: 20%;
}
.pro_brand{
    font-weight: bold;
    font-size: 30px;
}
.product_info li:nth-of-type(5){
    padding-top: 40px;
}
.product_info li:nth-of-type(7){
    height: 50px;
    line-height: 50px;
    font-family: "Le Jeune Deck", "Noto Serif KR", serif;
}
.basket{
    color: darkblue;
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid darkblue;
    box-sizing: border-box;
}
.product_info hr{
    margin: 10px 0 40px 0;
    border: none;
}
.basket:hover{
    color: #fff;
    border: 1px solid #fff;
    background-color: darkblue;
    box-sizing: border-box;
}
.explain{
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 35px;
    color: #999;

}
.swal2-container{
    z-index: 999999;
}
.swal2-icon.swal2-success .swal2-success-ring{
    border-color: rgb(134 156 220 / 30%);;
}
.swal2-icon.swal2-success{
    border-color: darkblue;
}
.swal2-icon.swal2-success [class^=swal2-success-line]{
    background-color: #010147;
}