@charset "UTF-8";
.menu1{
    background-image: url(../../img/menu/menu_bg.jpg);
}
.product_wrap{
    position: relative;
    width: 100%;
    height: 0;
    padding: 0;
    background-color: #fffaf4;
    border-top: 2px solid #0d6035;
    border-bottom: 2px solid #0d6035;
    transition: .4s;
}
.product_button{
    position: absolute;
    z-index: 2;
    left: 4%;
    top: -48px;
}
.product_button a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.product_wrap ul{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: 1120px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product_wrap li{
    width: 260px;
    margin: 20px 10px;
}
.pdc_img{
    display: inline-block;
    width: 260px;
    height: 245px;
}
.pdc_img img{
    max-height: 100%;
    transition: .3s;
}
.pdc_img img:hover{
    transform: scale(1.1);
}
.pdc_name{
    display: block;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.beverage_wrap{
    background-image: url(../../img/menu/menu_beverage.jpg);
    background-position: 20% 50%;
}
.food_wrap{
    background-image: url(../../img/menu/menu_food.jpg);
    background-position: 80% 50%;
}
.goods_wrap{
    background-image: url(../../img/menu/menu_goods.jpg);
    background-position: 20% 50%;
}
.mcard_wrap{
    background-image: url(../../img/menu/menu_card.jpg);
    background-position: 80% 50%;
}
.story_wrap{
    background-image: url(../../img/menu/menu_story.jpg);
    background-position: 20% 50%;
}
@media screen and (max-width: 1070px) {
    .product_wrap ul{
        width: auto;
    }
}