@charset "UTF-8";

.news{
    min-height: 1000px;
    margin: 50px;
    position: relative;
}
.news_container{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
.img_wrap{
    position: relative;
    width: auto;
    height: 60%;
    background-color: #ededed;
}
.news_container img{
    width: 100%;
    height: 100%;
    opacity: 0;
}
.grey_back{
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #ddd;
}
.cont_wrap{
    height: 40%;
}
.news_sum, .cont_wrap .detail{
    opacity: 0;
    transform: translateY(10px);
    transition: .5s linear;
}
.news_sum.on, .cont_wrap .detail.on{
    transform: translateY(0);
    opacity: 1;
}
.news_tit span{
    display: inline-block;
    transform: matrix(0.99756, 0.06975, -0.06975, 0.99756, 0, 25);
    opacity: 0;
    transition: .5s linear;
}
.news_tit span.on{
    transform:matrix(1,0,0,1,0,0);
    opacity: 1;
}

@media screen and (min-width:1000px){
}