@charset "UTF-8";
.bg-color {
    background-color: #999;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav.navbar{
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}
.menu_cover{
    /* display: none; */
    z-index: 999;
    margin-top: 50px;
    position: fixed;
    background-color: #ccc;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.mlist{
    display: flex;
    flex-direction: column;
}
.mlist a{
    font-family: 'ferrari-sansMedium';
    display: inline-block;
    color: var(--bs-gray-600);
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    padding: 20px;
}
.mlist a:hover{
    color: #000;
}