@charset "UTF-8";

.sub_tit_wrap{
    width: 100%;
    height: 98px;
}
.sub_tit_inner{
    position: relative;
    width: 1100px;
    height: 91px;
    margin: 0 auto;
}
.sub_tit_inner h2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 30px;
}
.dir{
    position: absolute;
    top: 80%;
    right: 10px;
    display: flex;
}
.coffee_wrap{
    width: 100%;
}
.slider_wrap{
    position: relative;
    width: 100%;
    height: 400px;
}
.slider_wrap .on{
    opacity: 1;
}
.coffee1{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/coffee/coffee_bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.coffee2{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/coffee/coffee_bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.slider_wrap button{
    position: absolute;
    width: 55px;
    height: 55px;
    top: 50%;
    transform: translateY(-50%);
}
.left{
    left: 3%;
}
.right{
    right: 3%;
}
.left img, .right img{
    display: none;
}
.left .on, .right .on{
    display: block;
}
.news_wrap{
    width: 100%;
    display: flex;
}
.news{
    width: 60%;
    height: 70px;
}
.site_help{
    background-color: #0a440d;
    width: 40%;
    height: 70px;
}
.wrap{
    position: relative;
    width: 100%;
    height: 430px;
    background-repeat: no-repeat;
    background-position: 20% 50%;
    background-size: cover;
}
.history_wrap{
    background-image: url(../img/coffee/coffee_history.jpg);
}
.reserve_wrap{
    background-image: url(../img/coffee/coffee_reserve.jpg);
}
.espresso_wrap{
    background-image: url(../img/coffee/coffee_espresso.jpg);
}
.best_wrap{
    background-image: url(../img/coffee/coffee_best.jpg);
}
.wrap .inner{
    width: 1100px;
    margin: 0 auto;
    position: relative;
}