@charset "UTF-8";

@media screen and (max-width: 1125px) {
    .slider_wrap{
        height: 300px;
    }
    .wrap{
        height: 200px;
    }
    .wrap .inner{
        width: 100%;
    }
    .detail_btn{
        top: 87%;
        height: 20px;
        line-height: 20px;
    }
}
@media screen and (max-width: 960px) {
    .slider_wrap{
        height: auto;
    }
    .inner span{
        height: 60%;
    }
    .inner img{
        height: 100%;
    }
}
