@charset "UTF-8";

@media screen and (max-width: 1120px) {
    header .inner_wrap{
        width: 100%;
    }
    header h1.logo{
        left: 20px;
    }
    .gnb{
        width: 100%;
    }
    .gnb li .smenu_inner{
        width: 70%;
        flex-wrap: wrap;
    }
    .smenu_list{
        padding-top: 10px;
    }
}
@media screen and (max-width: 960px) {
    
    #header{
        height: 70px;
    }
    .mb_hidden{
        display: none;
    }
    .dt_hidden{
        display: block;
    }
    #footer{
        padding: 0;
    }
    #footer .prize_list {
        height: auto;
    }
    .prize_list_inner {
        position: static;
        transform: none;
    }
    .prize_list_inner ul {
        flex-wrap: wrap;
    }
    #footer .btn_list{
        display: flex;
        flex-direction: column;
        background: #554c46;
    }
    .btn_list ul{
        width: 100%;
        overflow: hidden;
        margin-bottom: auto;
        border-bottom: 1px solid #403a36;
    }
    .btn_list ul .footer_menu_tit a{
        position: relative;
        color: #fff;
        font-size: 14px;
        line-height: 50px;
        background: #554c46;
    }
    .btn_list ul .footer_menu_tit a::after{
        content: '';
        position: absolute;
        width: 34px;
        height: 22px;
        top: 16px;
        right: 22px;
        background: url(../img/index/arrow_down.png) no-repeat top;
    }
    .btn_list ul li a{
        background: #645952;
        color: #e6dbd3;
        display: block;
        font-size: 14px;
        line-height: 50px;
        text-indent: 10px;
    }
    .btn_list a{
        display: block;
        width: 100%;
        height: 100%;
    }
    .btn_list a:hover{
        text-decoration: underline;
    }
    .btn_list ul li+li{
        height: 50px;
        transition: .4s ease-in;
    }
    .btn_list ul li+li.off{
    height: 0;
    }
    .prize_list_inner ul{
        justify-content: space-evenly;
    }
}