@charset "UTF-8";

#main .sub_tit_wrap{
    background-image: url(../img/corporate/corporate_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 178px;

}
.sub_tit_inner, .sub_tit_inner li a{
    top: 50%;
    color: #fff;
}
#main .sub_tit_inner h2{
    position: static;
    transform: none;
}
#main .dir{
    top: 57%;
}
.cont_wrap{
    width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    line-height: 1.8;
}
.container{
    width: 830px;
    height: 100%;
}
.guide_txt strong, .guide_txt span{
    display: block;
}
.guide_txt strong{
    font-size: 18px;
    margin-top: 20px;
    font-weight: normal;
}
.guide_txt span{
    font-size: 14px;
    margin-top: 4px;
    color: #666;
}
.guide_bx{
    position: relative;
    display: flex;
    margin-top: 29px;
    padding: 17px;
    justify-content: space-between;
    background-color: #f4f4f2;
    box-sizing: border-box;
}
.guide_bx strong{
    font-size: 14px;
}
.guide_bx a{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    background-color: #666;
    color: #fff;
    text-decoration: none;
}



















.right_nav{
    width: 220px;
    border-top: 2px  solid #000;
}
.right_nav li{
    width: 220px;
    border-bottom: 1px solid #aaa;
}
.right_nav a{
    position: relative;
    width: 175px;
    color: #444;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 20px 30px 20px 15px;
}
.right_nav a:hover{
    color: #006633;
    text-decoration: underline;
}