@charset "UTF-8";

@media screen and (min-width: 961px) and (max-width: 1104px){
    .coffee3_inner .fav_txt1 {
        background-size: 100% auto;
        height: 175px;
        left: 280px;
        width: 220px;
    }
    .coffee3_inner .fav_txt2 {
        background-size: 100% auto;
        height: 137px;
        left: 182px;
        top: 330px;
        width: 320px;
    }
}
@media screen and (max-width:960px) {
    .event img{
        width: 100%;
    }
    .main .m_event{
        width: auto;
        height: 200vw;
        box-sizing: border-box;
    }
    .event1{
        background-image: url(../img/index/main_bg1.jpg);
    }
    .event2{
        background-image: url(../img/index/m_main_bg2.jpg);
        background-position: center top;
        background-size:  cover;
    }
    .event1 .event_slogan {
        width: 34vw;
        left: 32%;
        top: 7%;
    }
    .event1 .event_img1 {
        top: 19%;
        left: 13%;
        width: 51vw;
    }
    .event1 .event_img2 {
        top: 41%;
        left: 39%;
        width: 51vw;
    }
    .event1 .event_img3 {
        top: 56%;
        right: 36%;
        width: 51vw;
    }
    .event1 .event_btn {
        width: 87vw;
        left: 7%;
        height: 100px;
        top: 73%;
    }
    .event1 .event_btn a {
        line-height: 100px;
        font-size: 4vw;
    }
    .event2 .event_slogan {
        width: 46vw;
        left: 4.6%;
        top: 4%;
    }
    .event2 .event_img1 {
        top: 40%;
        left: 55%;
        width: 47vw;
    }
    .event2 .event_img2 {
        top: 16%;
        left: 13%;
        width: 53vw;
    }
    .event2 .event_img3 {
        top: 68%;
        right: 31%;
        width: 53vw
    }
    .event2 .event_btn {
        width: 68%;
        left: -10%;
        height: 65px;
        top: 10%;
    }
    .event2 .event_btn a {
        display: block;
        width: 40%;
        height: 100%;
        margin: 0 auto;
        font-size: 4vw;
        line-height: 66px;
        border-radius: 5px;
        box-sizing: border-box;
    }
    .menu_promo {
        display: flex;
        align-items: center;
    }
    .menu_promo .promo_swiper{
        transform: scale(0.8);
    }
    .coffee2_inner .btn_detail_wrap {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translateX(-50%);
        width: 40vw;
        height: 60px;
    }
    .btn_detail_wrap .detail_btn {
        width: auto;
        height: auto;
    }
    .detail_btn a {
        font-size: 35px;
        line-height: 68px;
    }
    .main .m_coffee3{
        background: url(../img/index/m_main_coffee3.jpg) no-repeat center -6px;
        background-size: 100% auto;
        height: 232vw;
        position: relative;
        width: 100%;
    }
    .coffee3_inner .fav_txt1 {
        background-position: center;
        background-size: contain;
        top: 134vw;
        left: 50%;
        transform: translateX(-50%);
        width: 52vw;
    }
    .coffee3_inner .fav_txt2 {
        background-position: center;
        background-size: contain;
        left: 50%;
        transform: translateX(-59%);
        top: 180vw;
        width: 65vw;
    }
    .coffee3_inner .fav_detail_wrap {
        left: 50%;
        transform: translateX(-50%);
        top: 93%;
    }
    .main .m_reserve{
        height: auto;
    }
    .reserve_inner .reserve_img{
        position: static;
        margin-right: auto;
    }
    .reserve_img img{
        width: 100%;
    }
    .reserve_inner .detail_btn {
        width: auto;
        padding-left: 0;
    }
    .reserve_inner .detail_btn_wrap {
        width: auto;
        bottom: 5%;
        max-width: auto;
        margin: auto;
    }
    .detail_btn .expand.m4 {
        margin: 0;
    }
    .main .m_with_star{
        height: 760px;
    }
    .star_inner .star_img3 {
        top: 11%;
        left: 57%;
    }
    .m_with_star .star_inner {
        height: 100%;
    }
    .star_inner .star_img1 {
        left: 45%;
    }
    .star_inner .star_img2{
        left: 26%;
    }
    .star_inner .star_img3 {
        top: 11%;
        left: 57%;
    }
    .star_inner .star_img4 {
        top: 87%;
        right: 56%;
    }
    .star_inner .star_txt1 {
        top: 60%;
        right: 34%;
    }
    .star_inner .star_txt2 {
        top: 70%;
        right: 34%;
    }
    .star_inner .detail_btn {
        height: 70px;
        top: 87%;
        right: 50%;
        transform: translateX(50%);
        width: 200px;
    }
}
@media screen and (max-width: 1479px){
    .m_menu .m_menu_wrap{
        background: none;
        width: 90%;
    }
    .m_menu_wrap .left_notice{
        width: 48%;
    }
    .left_notice .notice_tit{
        white-space: nowrap;
    }
    .m_menu_wrap .right_promo{
        width: 45%;
    }
    .right_promo button{
        left: 10%;
    }
}
@media screen and (max-width: 1025px) {
    .m_star_rewards .inner{
        flex-direction: column;
        width: 85%;
    }
    .m_rewards_logo{
        margin: 0 auto;
        width: 30%;
    }
    .m_rewards_cont{
        position: relative;        
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 30px;
        text-align: center;
    }
    .m_reward_info{
        height: 170px;
    }
    .btn_sign_group{
        right: 50%;
        transform: translateX(50%);
    }
    .m_reward_gift{
        height: 89px;
    }
    .m_reward_gift .btn_gift{
        top: 80%;
        right: 50%;
        transform: translateX(50%);
    }
}
@media screen and (max-width:750px) {
    .m_menu .menu_left {
        width: 100%;
    }
    .m_menu .menu_right {
        width: 100%;
        top: 62px;
    }
    .m_menu .m_menu_wrap {
        z-index: 1;
    }
    .m_menu_wrap .left_notice{
        width: 100%;
    }
    .m_menu_wrap .right_promo {
        width: 100%;
    }
    .right_promo button {
        left: 50%;
        transform: translateX(-50%);
    }
    .menu_promo {
        top: 62px;
    }
    .main .m_star_rewards {
        position: relative;
        top: 62px;
    }
}
@media screen and (max-width: 875px) {
    .m_reward_info{
        height: auto;
    }
    .btn_sign_group {
        position: static;
        transform: none;
    }
    .m_reward_gift{
        height: auto;
    }
    .m_reward_gift .btn_gift{
        position: static;
        transform: none;
        margin: 0 auto;
    }
}

@media screen and (min-width: 2000px){
    .coffee2_inner .coffee2_imgbx{
        right: 0;
        left: 0;
        text-align: center;
    }
}
@media screen and (max-width: 1900px){
    .coffee2_inner .coffee2_imgbx{
        right: -4%;
    }
}
@media screen and (max-width: 1800px){
    .coffee2_inner .coffee2_imgbx{
        right: -8%;
    }
}
@media screen and (max-width: 1700px){
    .coffee2_inner .coffee2_imgbx{
        right: -12%;
    }
}
@media screen and (max-width: 1600px){
    .coffee2_inner .coffee2_imgbx{
        right: -16%;
    }    
}    
@media screen and (max-width: 1500px){
    .coffee2_inner .coffee2_imgbx{
        right: -19%;
    }    
}    
@media screen and (max-width: 1400px){
    .coffee2_inner .coffee2_imgbx{
        right: -24%;
    }
    .coffee3_inner .fav_img {
        top: 50%;
        transform: translateY(-50%);
        right: 60px;
        width: 720px;
        height: 475px;
    }
}    
@media screen and (max-width: 1300px){
    .coffee2_inner .coffee2_imgbx{
        right: -33%;
    }    
}    
@media screen and (max-width: 1200px){
    .coffee2_inner .coffee2_imgbx{
        right: -44%;
    }    
}    

@media screen and (max-width: 1120px){
    .coffee2_inner .coffee2_imgbx{
        right: -42%;
    }    
}    
@media screen and (max-width: 960px) {
    .main .m_coffee2{
        height: 100%;
    }
    .m_coffee2 .dt_hidden{
        width: 100%;
    }
    .coffee2_inner .coffee2_imgbx.mb_hidden{
        display: none;
    }    
}
@media screen and (max-width: 1100px){
    .coffee3_inner .fav_img {
        top: 50%;
        transform: translateY(-50%);
        right: 160px;
        width: 570px;
        height: 380px;
    }
}

@media screen and (max-width:960px) {
    .coffee3_inner .fav_img{
        top: 10%;
        right: 50%;
        transform: translateX(50%);
        width: 80vw;
    }
}