@charset "UTF-8";
@import url("./reset.css");
@import url("./common.css");

header, main, footer, .inner, li, h2, h3, p, a{
    box-sizing: border-box;
}
.btn{
    display: inline-block;
    height: 50px;
    padding: 10px 32px;
    border: 1px solid #4d4d4d;
    border-radius: 25px;
    color: #000;
    font-size: 16px;
    line-height: 30px;
    box-sizing: border-box;
}

.mtit h2.title{
    padding-top: 312px;
    font-weight: 700;
    font-size: 57px;
    line-height: 88px;
}
.mtit{
    height: 1080px;
}
.mtit .obj_bx{
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 1920px;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    z-index: 4;
}
.cir{
    border-radius: 50%;
}
.mtit .cir1{
    position: absolute;
    top: 63px;
    right: 88px;
    width: 328px;
    height: 328px;
    background: linear-gradient(90deg, #000 0%, #0087cc 102.23%);
}
.mtit .cirwrap{
    position: absolute;
    top: 182px;
    right: 274px;
    width: 258px;
    height: 183px;
}
.cirwrap .wrapcir{
    position: absolute;
    top: 0;
    left: 20px;
    width: 100%;
    height: 100%;
    opacity: .3;
}
.cirwrap .wrapcir::before, .cirwrap .wrapcir::after{
    content: "";
    position: absolute;
    top: 0;
    width: 183px;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #fff;
}
.cirwrap .wrapcir:nth-child(1)::before{
    left: 0;
}
.cirwrap .wrapcir:nth-child(1)::after{
    left: 12px;
}
.cirwrap .wrapcir:nth-child(2)::before{
    left: 24px;
}
.cirwrap .wrapcir:nth-child(2)::after{
    left: 36px;
}
.cirwrap .wrapcir:nth-child(3)::before{
    left: 48px;
}
.cirwrap .wrapcir:nth-child(3)::after{
    left: 60px;
}
.cirwrap .wrapcir:nth-child(4)::before{
    left: 72px;
}
.mtit .cir2{
    position: absolute;
    top: 708px;
    right: 156px;
    width: 65px;
    height: 65px;
    background: linear-gradient(165.31deg, rgba(239, 21, 30, 0.4) 10.38%, #ef151e 95.06%);
}
.mtit .cir3{
    position: absolute;
    top: 838px;
    right: -53px;
    width: 154px;
    height: 154px;
    background: linear-gradient(165.31deg, #feC26b 10.38%, #ff9700 95.06%);
}
.mtit .cir4{
    position: absolute;
    top: 772px;
    left: -4px;
    width: 345px;
    height: 345px;
    background: linear-gradient(0deg, rgba(24, 24, 24, 0.0001) 0%, #0087CC 100%);
}
.mtit .cir5{
    position: absolute;
    top: 772px;
    left: 150px;
    width: 345px;
    height: 345px;
    background: linear-gradient(0deg, #0087CC 0%, rgba(24, 24, 24, 0.0001) 100%);
}
.mtit .obj_rotate{
    position: absolute;
    top: 671px;
    right: -141px;
}
.obj_rotate svg{
    position: relative;
    width: 680px;
    height: 682px;
    opacity: .3;
    animation: rotateObj 20s linear infinite forwards;
}
.main h2 small{
    display: block;
    margin-bottom: -66px;
    font-size: 20px;
    color: #989898;
    line-height: 26px;
}
.main .scrDwn{
    position: relative;
    display: inline-block;
    margin-top: 67px;
    font-size: 17px;
    color: #ff9700;
}
.main .scrDwn::before{
    content: '';
    position: absolute;
    top: -10px;
    right: -26px;
    width: 17px;
    height: 17px;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: transparent transparent #ff9700 #ff9700;
    transform: rotate(-45deg);
}
.main .scrDwn::after{
    content: '';
    position: absolute;
    right: -26px;
    width: 17px;
    height: 17px;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: transparent transparent #ff9700 #ff9700;
    transform: rotate(-45deg);
}
.about h2.title{
    font-size: 42px;
}
.mabout{
    padding-top: 200px;
}
.about .description{
    margin-top: 15px;
    font-size: 24px;
    line-height: 30px;
}
.inner ul.list{
    margin-top: 95px;
}
.about li .description{
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
}
.inner ul.list::after{
    content: '';
    display: block;
    clear: both;
}
li.aboutList{
    float: left;
    width: 25%;
    box-sizing: border-box;
}
.mvimi{
    padding-top: 198px;
}
.box_list .vam{
    border: 1px solid #999;
    height: 320px;
}
.vam h3.title{
    margin-top: 32px;
}
body .vam .list_box .motiv path{
    fill: rgb(255, 151, 0);
}
.vam .description, .vam .bul_list{
    margin-top: 16px;
}
.inner ul.box_list::after{
    content: '';
    display: block;
    clear: both;
}
.inner ul.box_list>li{
    float: left;
    width: 46.8%;
    border-radius: 20px;
    margin: 3.2% 0 0 3.2%;
    padding: 40px 40px 0;
    box-sizing: border-box;
}
.mreare{
    padding: 199px 0;
}
.mreare .box_list>li{
    position: relative;
    height: 460px;
    padding-top: 60px;
    background-color: #000;
    overflow: hidden;
}
.mreare .title{
    color: #fff;
    line-height: 34px;
}
.mreare .description{
    margin-top: 24px;
    color: #fff;
    font-size: 18px;
    line-height: 34px;
}
.mreare .box_list>li:nth-child(2){
    top: 80px;
}
.mreare .box_list>li:nth-child(4){
    top: 80px;
}

.mreare .l1 .description::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 440px;
    height: 220px;
    background: url(../img/bg_research1.png) no-repeat 100% 0;
}
.mreare .l2 .description::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 368px;
    height: 227px;
    background: url(../img/bg_research2.png) no-repeat 0 0;
}
.mreare .l3 .description::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 518px;
    height: 215px;
    background: url(../img/bg_research3.png) no-repeat 100% 0;
}
.mreare .l4  .description::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 559px;
    height: 230px;
    background: url(../img/bg_research4.png) no-repeat 100% 0;
}

#career{
    position: relative;
    background-color: #e6f0fa;
    overflow: hidden;
}
#career .obj_bx{
    position: absolute;
    max-width: 1920px;
    width: 100%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
}
#career p.description{
    margin-top: 16px;
    font-size: 18px;
    line-height: 24px;
}
#career .btn{
    margin-top: 40px;
}
#career .obj_ai{
    position: absolute;
    right: 40px;
    top: 80px;
    width: 494px;
}
#career .obj_rotate{
    position: absolute;
    width: 512px;
    height: 513px;
    top: 138px;
    right: 342px;
    transform-origin: 70% 70%;
    animation: rotateObj 20s linear infinite forwards;
}
#career .obj_rotate::after{
    position: absolute;
    content: '';
    display: block;
    width: 180px;
    height: 180px;
    top: 260px;
    left: 260px;
    border-radius: 50%;
    background-color: #000;
}
#career .obj_rotate path{
    stroke: gray;
    opacity: 0.2;
}
@keyframes rotateObj {
    100%{
        transform: rotate(-360deg);
    }
}
#career .cirwrap{
    position: absolute;
    top: -26px;
    right: 1680px;
    width: 358px;
    height: 254px;
}
.obj_bx .cirwrap::before, .obj_bx .cirwrap::after{
    content: "";
    position: absolute;
    top: 0;
    width: 254px;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #000;
    opacity: .2;
}
.obj_bx .cirwrap:nth-child(1):before{
    left: 0;
}
.obj_bx .cirwrap:nth-child(1):after{
    left: 12px;
}
.obj_bx .cirwrap:nth-child(2):before{
    left: 24px;
}
.obj_bx .cirwrap:nth-child(2):after{
    left: 36px;
}
.obj_bx .cirwrap:nth-child(3):before{
    left: 48px;
}
.obj_bx .cirwrap:nth-child(3):after{
    left: 60px;
}
.obj_bx .cirwrap:nth-child(4):before{
    left: 72px;
}


.mcare{
    padding: 100px 0;
}

.mcont{
    position: relative; 
    padding: 80px 0;
}
.mcont::after{
    content: '';
    display: block;
    clear: both;
}
.mcont .half{
    float: left;
    width: 46.8%;
}
.mcont .contact::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 200px;
    background-color: #ccc;
}
.mcont .visit{
    padding-left: 20px;
}
.mcont .title{
    font-size: 30px;
    line-height: 40px;
}
.mcont .description{
    margin: 16px 0 40px;
    font-size: 18px;
}

footer .inner{
    padding-bottom: 45px;
}
footer .inner::after{
    content: '';
    display: block;
    clear: both;
}
footer p{
    float: left;
    color: #666;
}
.policy{
    float: right;
    font-size: 14px;
}
.policy a{
    color: #000;
    text-decoration: none;
}
.policy span+span{
    margin-left: 37px;
}