@charset "UTF-8";

.new_wrap{
    position: relative;
    width: 100%;
}
.slider_wrap{
    position: relative;
    width: 100%;
    height: 400px;
}
.new{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/new/new_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.wrap{
    position: relative;
    width: 100%;
    height: 430px;
    background-repeat: no-repeat;
    background-size: cover;
}
.event_wrap{
    background-image: url(../img/new/new_event.jpg);
    background-position: 20% 50%;
}
.new_news_wrap{
    background-image: url(../img/new/new_news.jpg);
    background-position: 80% 50%;
}
.store_wrap{
    background-image: url(../img/new/new_store.jpg);
    background-position: 20% 50%;
}
.wall_wrap{
    background-image: url(../img/new/new_wall.jpg);
    background-position: 80% 50%;
}