@charset "UTF-8";

@font-face {
    font-family: 'CJBOLD';
    src: url("../font/CJ+ONLYONE+Bold.woff") format("woff");
}
@font-face{
    font-family: 'CJMEDIUM';
    src: url("../font/CJ+ONLYONE+Medium.woff") format("woff");
}

html, body, header, main, footer, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
ul, li{
    list-style: none;
}