@charset "UTF-8";
html, body{
    overflow-x: hidden;
}
html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, p{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
ul, ol, li{
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}
img{
    vertical-align: top;
    max-width: 100%;
}
button{
    background-color: transparent;
    border: none;
}