@charset "UTF-8";


.social_wrap{
    background-image: url(../img/responsibliity/resp_social.jpg);
    background-position: 20% 50%;
}
.region_wrap{
    background-image: url(../img/responsibliity/resp_region.jpg);
    background-position: 80% 50%;
}
.envir_wrap{
    background-image: url(../img/responsibliity/resp_envir.jpg);
    background-position: 20% 50%;
}
.ethic_wrap{
    background-image: url(../img/responsibliity/resp_ethic.jpg);
    background-position: 80% 50%;
}
.global_wrap{
    background-image: url(../img/responsibliity/resp_global.jpg);
    background-position: 20% 50%;
}