@charset "UTF-8";

.store_wrap{
    background-image: url(../img/store/store_store.jpg);
    background-position: 20% 50%;
}
.drive_wrap{
    background-image: url(../img/store/store_drive.jpg);
    background-position: 80% 50%;
}
.reserve_wrap{
    background-image: url(../img/store/store_reserve.jpg);
    background-position: 20% 50%;
}
.community_wrap{
    background-image: url(../img/store/store_community.jpg);
    background-position: 80% 50%;
}