@charset "UTF-8";

.wrap{
    position: relative;
    width: 100%;
    height: 430px;
    background-repeat: no-repeat;
    background-size: cover;
}
.store_wrap{
    background-image: url(../img/store/store_store.jpg);
    background-position: 20% 50%;
}
.drive_wrap{
    background-image: url(../img/store/store_drive.jpg);
    background-position: 80% 50%;
}
.reserve_wrap{
    background-image: url(../img/store/store_reserve.jpg);
    background-position: 20% 50%;
}
.community_wrap{
    background-image: url(../img/store/store_community.jpg);
    background-position: 80% 50%;
}