@charset "UTF-8";
.menu1{
    background-image: url(../../img/menu/menu_bg.jpg);
}
.product_wrap{
    width: 100%;
    padding: 28px 0 80px 0;
    background-color: #fffaf4;
    position: relative;
    border-top: 2px solid #0d6035;
    border-bottom: 2px solid #0d6035;
}
.beverage_wrap{
    background-image: url(../../img/menu/menu_beverage.jpg);
    background-position: 20% 50%;
}
.food_wrap{
    background-image: url(../../img/menu/menu_food.jpg);
    background-position: 80% 50%;
}
.goods_wrap{
    background-image: url(../../img/menu/menu_goods.jpg);
    background-position: 20% 50%;
}
.mcard_wrap{
    background-image: url(../../img/menu/menu_card.jpg);
    background-position: 80% 50%;
}
.story_wrap{
    background-image: url(../../img/menu/menu_story.jpg);
    background-position: 20% 50%;
}