@charset "UTF-8";
.reward{
    background-image: url(../../img/reward/reward_bg.jpg);
}
.reward span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
}
.btn_wrap{
    position: absolute;
    height: 35px;
    display: flex;
    justify-content: space-between;
}
.dt.btn_wrap{
    top: 70%;
    left: 4%;
    width: 400px;
}
.mbg .rwdbgtxt{
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
}
.mb.btn_wrap{
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}
.slider_wrap .reward button, .mobile .mb button{
    position: static;
    background-color: transparent;
    border: 2px solid #000;
    width: 195px;
    height: 35px;
    border-radius: 5px;
    transform: none;
}
.card_wrap{
    background-image: url(../../img/reward/reward_card.jpg);
    background-position: 20% 50%;
}
.getcard_wrap{
    background-image: url(../../img/reward/reward_getcard.jpg);
    background-position: 80% 50%;
}